/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
*{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Utils*/

/* Header*/
.main-header{
    height: 80px;
    background-color: #255DE8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.secondary-header{
    height: 700px;
    background-image: url(../img/jumbo.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: contain;
}

.h-text{
    padding: 30px 0;
}

/* Main Header*/
.related-header{
    width: 15%;
    min-height: 40px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

.h-link{
    flex-grow: 1;
}

.h-logo{
    margin-left: 300px ;
    height: 40px;
    width: auto;
}

.btn-login{
    margin-right: 300px; 
    background-color: white;
    border-radius: 20px;
    width: 100px;
}

/* Secondary Header*/

.h-title{
    color: white;
    width: 50%;
    min-height: 350px;
    align-self: center;
    align-items: center;
    text-align: center;
}

.btn{
    background-color: white; 
    border-radius: 30px;
    width: 200px;
    height: 40px;
}

.btn-browser{
    background-color: black;
    color: white;
}


/* Main*/

.main-card{
    min-height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
}
 
.secondary-card{
    background-color: #F6F6F6;
}

img{
    width: 500px;
}


.large-img{
    width: 800px;
}
.large-box{
    width: 60%;
    min-height: 350px;
    align-self: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.small-box{
    width: 40%;
    min-height: 350px;
    align-self: center;
    padding-right: 210px;
}

.m-title{
    color: #23272A;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
}

p{
    line-height: 1.5;
}

/* Outline-Card*/
.outline-card{
    min-height: 600px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
}

.xl-box{
    width: 100%;
    min-height: 550px;
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
}

.out-bottom{
    background-image: url(../img/stars.svg);
    text-align: center;
}

h2{
    padding: 20px 0;
}

.btn-finale{
    background-color:#8EA1E1;
    color: white;
}

/*Footer*/

.main-footer{
    background-color: #23272A;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 300px;
    margin-bottom: 2px;
}

.f-contatti{
    background-color: #23272A;
    width: 30%;
    min-height: 350px;
    align-self: center;
}

.color-v{
    color: #8EA1E1 
}

.flag{
    width: 30px;
}

.f-option{
    margin-top: 20px;
    vertical-align: middle;
    background-color: #23272A;
    color: white;
}

.f-symbols{
    color: white;
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.f-card{
    background-color: #23272A;
    width: 70%;
    min-height: 350px;
    align-self: center;
    display: flex;
    font-size: 15px;
}

.f-prodotto{
    width: 25%;
    min-height: 350px;
    align-self: center;
    align-items: center;
    color: white;
}

.secondary-footer{
    background-color: #23272A;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    padding-left: 300px;
    padding-right: 300px;
    
}

.f-info{
    background-color: #23272A;
    width: 100%;
    align-self: flex-end;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-logo{
    height: 40px;
    width: auto;
}
 